#meals {
  height: 100vh;
  width: 100%;
  background: #0fa36b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: #464646;
}

#rocksGlass {
  max-height: 80vh;
  animation: shake 1s infinite ease;
}

#iceLeft {
  /* transform-origin set in px for firefox compatibility */
  opacity: 0.6;
  transform-origin: 36px 66px;
  animation: clink .8s infinite ease;
}

#iceRight {
  /* transform-origin set in px for firefox compatibility */
  opacity: 0.6;
  transform-origin: 60px 78px;
  animation: clink .8s .2s infinite ease;
}

#meals > span {
  color: aliceblue;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  animation: shake 1.5s infinite ease;
}

.centerIcons {
  text-align:"center";
}

.header {
  align-items: center;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-around;
  margin: auto;
  max-width: 600px;
}

.image-div {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-Footer {
  display: flex;
  justify-content: space-around;
  margin-top: 3em;
  border-radius: 15px;
}

.recipe-image {
  width: 100%;
}

.card {
  background-color: #FBF9EF;
  display: flex;
  height: 230px;
  margin: 2px 4px;
  text-align: center;
  width: 150px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.preloader {
  margin: 30% auto;
  width: 80%;
}

.searchBar {
  margin: auto;
  width: 90%;
}

.input-radio {
  margin: 0px;
  padding-right: 30px;
  width: 200px;
}

.img-detail {
  width: 50%;
}

  
.footer {
  background: #c4c4c4;
  bottom: 0;
  height: 58px;
  left: 0.1px;
  position: fixed;
  top: 582px;
  width: 360px;
}

.detail-btn {
  background-color: turquoise;
  bottom: 0;
  height: 40px;
  position: fixed;
  width: 100%;
}

.footer-drink {
  height: 40px;
  left: 16px;
  position: absolute;
  top: 9px;
  width: 40px;
}

.footer-explore {
  height: 40px;
  left: 160px;
  position: absolute;
  top: 12px;
  width: 40px;
}

.footer-meal {
  height: 40px;
  left: 302px;
  position: absolute;
  top: 12px;
  width: 40px;
}

@keyframes shake {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
